*.iml
**/.gradle
**/local.properties
**/.idea/caches
**/.idea/libraries
**/.idea/modules.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/assetWizardSettings.xml
**/.idea/misc.xml
**/.idea/codeStyles/Project.xml
**/.idea/runConfigurations.xml
**/.DS_Store
**/captures
**/build
**/release