<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kalab.chess.stockfishengine">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="StockfishSmallNPS 16"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        <activity
            android:name="com.kalab.chess.stockfishengine.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="intent.chess.provider.ENGINE" />
            </intent-filter>

            <meta-data
                android:name="chess.provider.engine.authority"
                android:value="com.kalab.chess.stockfishengine.StockfishEngineProvider" />
        </activity>

        <provider
            android:name="com.kalab.chess.stockfishengine.StockfishEngineProvider"
            android:authorities="com.kalab.chess.stockfishengine.StockfishEngineProvider"
            android:exported="true" />
    </application>

</manifest>